@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* 
{
    padding: 0;
    margin: 0;
    }
    
    body{font-family:'Lato' ;
    
    }

    .cabecalho {
    background-color: #3a6440;
    color: #ffeeee;
    display:flex;
    justify-content:space-around;
    align-items:centerr;
    padding: 20px 0;
    }
    
    .cabecalho-imagem {
    width: 20%;
    }
    
    .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    }
    .escola-imagem {
        width: 25%;
        }
        
        .Palmeiras-1914 {
        background-image: linear-gradient(#383D58,#607538);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        }
        
        .palmeiras-1914{
        padding: 24px 0;
        }
        
        .conteudo{
        width:35%;
        }


