* {
    padding: 0;
    margin: 0;
    }
    
    
    .cabecalho {
    background-color: #2e863a;
    color: #ffeeee;
    display:flex;
    justify-content:space-around;
    align-items:centerr;
    padding: 20px 0;
    }
    
    .cabecalho-imagem {
    width: 20%;
    }
    
    .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    }



